
@import controllers.HomeController.RegistrationForm
@(form: Form[RegistrationForm])
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>CourseTeach.me </title>
        <meta name="description" content="CourseTeach.me">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/font-awesome-4.2.0/css/font-awesome.min.css")"/>

            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

            <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    </head>

    <style>
    body{

        padding-top: 40px;
        padding-bottom: 10px;
        background-color: #eee;

    }

    .form-register {
        max-width: 370px;
        padding: 15px;
        margin: 0 auto;
    }

    .form-register-heading {
        margin-bottom: 10px;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }


    .padding-top-10{
        padding-top: 10px;
    }

    .margin-top-10{
        margin-top: 10px;
    }

    .soc_buttons > a{
        font-size: 25px;
    }

    hr{
        border-top: 1px solid #a49e9e;
    }


    </style>


    <body>

            <!-- Navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="/#" class="navbar-brand">CourseTeach.me</a>


                </div> <!-- Navbar Header END-->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <a href="/register" class="btn btn-warning navbar-btn navbar-right">Register</a>
                    <div class="form-inline navbar-form navbar-right">
                    @helper.form(routes.HomeController.authenticate) {
                        <input type="email" class="form-control" name="email" placeholder="Username">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                        <button type="submit" class="btn btn-default">Login</button>
                    }
                    </div>

                    <ul class="nav navbar-nav">
                        <li><a href="/#courses">Courses</a></li>
                        @*<li><a href="/#feedback">Feedback</a></li>*@
                        <li><a href="/#team">Our Team</a></li>
                    </ul>
                </div>
            </div> <!-- Container END-->
        </nav> <!-- Navbar END-->


        <div class="container">
            <div class="form-register margin-top-10">
                @helper.form(routes.HomeController.register) {
                    <h2 class="form-register-heading"><center>Register</center></h2>

                    @if(form.hasGlobalErrors) {
                        <p class="error">
                        @form.globalError.message
                        </p>
                    }

                    <label for="firstName">First Name</label>
                    <input name="firstName" class="form-control" placeholder="Your first name" required="" autofocus="">

                    <label for="lastName" class="margin-top-10">Last Name</label>
                    <input name="lastName" class="form-control" placeholder="Your last name" required="" autofocus="">

                    <label for="email" class="margin-top-10">Email</label>
                    <input name="email" class="form-control" placeholder="Email" required="" autofocus="" type="email">

                    <label for="inputPassword" class="margin-top-10">Password</label>
                    <input name="inputPassword" class="form-control" placeholder="Password" required="" autofocus="" type="password">

                    <label for="confirmPassword" class="margin-top-10">Confirm Password</label>
                    <input name="confirmPassword" class="form-control" placeholder="Confrim Password" required="" autofocus="" type="password">

                    <button class="btn btn-lg btn-primary btn-block margin-top-10" type="submit">Register</button>
                }
            </div>
        </div>

        <footer>
            <div class="container text-center">
                <hr>
                Contact us:
                    <div class="soc_buttons margin-top-10">
                        <a href="https://new.vk.com/courseteach_me" target="_blank">
                            <i class="fa fa-vk"></i>
                        </a>
                        <a href="https://www.facebook.com/courseteach.me/" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="mailto:courseteachme@@gmail.com">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </div>
                <p>CourseTeach.Me &copy; Copyright 2016</p>
                    <!-- Yandex.Metrika informer -->
                <a href="https://metrika.yandex.ru/stat/?id=36296295&amp;from=informer"
                target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/36296295/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:36296295,lang:'ru'});return false}catch(e){}" /></a>
                    <!-- /Yandex.Metrika informer -->
            </div>
        </footer>




        <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
            <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

            <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter36296295 = new Ya.Metrika({
                    id:36296295,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
        <noscript><div><img src="https://mc.yandex.ru/watch/36296295" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            <!-- /Yandex.Metrika counter -->
    </body>
</html>